/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid $color_green;
	border-radius: 3px;
	background: $color__background-screen;
	color: $color_green;
	font-size: 20px;
	line-height: 1;
	padding: 0.6rem 2.5rem;

	&:hover {
		border-color:darken($color_green, 10%);
		color:darken($color_green, 10%);
	}
}

.search-enter {
	span {
	margin:1rem;
	font-size:16px;

	@include tablet {
		font-size:20px;
	}
	}
	&:hover {
		color: darken($color_green,10%);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px 10px;
	border:2px solid $color_green;
	border-radius: 3px;
	background-color:$color__background-screen;
	width:400px;
	font-size:16px;
	font-weight:300;

	@include tablet {
		font-size:20px;
	}
}

textarea {
	background-color:$color__background-screen;
	border:2px solid $color_green;
	border-radius: 3px;
	padding: 5px 10px;
	width: 100%;
}
