/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
html {
  background-color: $color__background-screen;
  max-width: $max-width;
  @include desktop {
    margin: 0 auto;
  }
  .site {
    background-color: $color__background-screen;
    margin: 0 auto;
  }
  .site-branding {
    margin: 3rem 1rem 0 1rem;
    @include desktop {
      text-align: center;
    }
    a {
      img {
        height: 50px;
        @include tablet {
          height: 80px;
        }
        @include desktop {
          height: 100px;
        }
      }
    }
  }
}

/* Quote Icons */

.content-container {
  position: relative;
  .quote-icon {
    display: none;
    @include desktop {
      display: block;
      font-size: 120px;
      color: $color_green;
    }
  }
  .fa-quote-left {
    @include desktop {
      position: absolute;
      top: 0;
      left: 50px;
    }
  }
  .fa-quote-right {
    @include desktop {
      position: absolute;
      top: 0;
      right: 60px;
    }
  }
}

/* Content */

.site-content {
  @include desktop {
    max-width: 650px;
    margin: 0 auto;
  }
  .site-main {
    margin: 1rem;
    @include desktop {
      margin: 0 auto;
    }
    .entry-content {
      max-width: 650px;
      margin: 0 auto;
      margin-bottom: 5rem;
      font-weight: 300;
      a {
        text-decoration: none;
      }
    }
  }
}
.quote-content {
  p {
    font-size: 20px;
    font-weight: 300;
    @include tablet {
      font-size: 26px;
    }
    @include desktop {
      font-size: 38px;
    }
  }
}
.title-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  font-weight: 300;
  a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    &:hover {
      color: $color_green;
    }
  }
  .quote-source {
    margin: 20px 0;
  }
}
.get_quote {
  @include desktop {
    display: table;
    margin: 0 auto;
  }
}

footer {
  margin-top: 6rem;
}

/* Submit a Quote Page */

.submit-form {
  .input-container {
    margin: 2.5rem 0;
  }
  .post_quote {
    margin: 2rem 2rem 2rem 0;
  }
}
