/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
html {
  background-color: $color__background-screen;
  max-width: $max-width;
  @include desktop {
    margin: 0 auto;
  }
  .site {
    background-color: $color__background-screen;
    margin: 0 auto;
  }
  .site-branding {
    margin: 3rem 1rem 0 1rem;
    @include desktop {
      text-align: center;
    }
  }
  .site-navigation {
    bottom: 20px;
  }
}

.site-content {
  @include desktop {
    max-width: 650px;
    margin: 0 auto;
  }
  .site-main {
    margin: 1rem;
    @include desktop {
      margin: 0 auto;
    }
    .entry-content {
      max-width: 600px;
      margin-bottom: 5rem;
      a {
        text-decoration: none;
      }
    }
  }
}

/* All Archives Page */

/* Submit a Quote Page */
