/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
html {
  background-color: $color__background-screen;
  max-width: $max-width;
  @include desktop {
    margin: 0 auto;
  }
  .site {
    background-color: $color__background-screen;
    margin: 0 auto;
  }
  .site-branding {
    margin: 3rem 1rem 0 1rem;
    @include desktop {
      text-align: center;
    }
    a {
      img {
        @include desktop {
          height: 100px;
        }
      }
    }
  }
  .site-navigation {
    bottom: 20px;
  }
}

.site-content {
  @include desktop {
    max-width: 650px;
    margin: 0 auto;
  }
  .site-main {
    margin: 1rem;
    @include desktop {
      margin: 0 auto;
    }
    .entry-content {
      max-width: 650px;
      margin:0 auto;
      margin-bottom: 5rem;
      font-weight:300;
      a {
        text-decoration: none;
      }
    }
  }
}

.quote-icon {
  display: none;
  @include desktop {
    display: block;
    font-size: 120px;
    color: $color_green;
  }
}
.fa-quote-left {
  @include desktop {
    font-size: 30px;
    position: absolute;
    top: 250px;
    left: 230px;
  }
}
.fa-quote-right {
  @include desktop {
    font-size: 30px;
    position: absolute;
    top: 250px;
    right: 230px;
  }
}

/* All Archives Page */
.page-id-210 {
  h1 {
    text-transform: capitalize;
    margin: 1rem 0;
  }
  .term-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 4rem 0;

    p {
      margin: 3px 0;
    }

    a {
      text-decoration: none;
      margin: 5px;
      font-size: 20px;
      font-weight: 300;
    }
  }
  .entry-title {
    margin-bottom: 2.5rem;
  }
}

/* Submit a Quote Page */
